<h1>Champion</h1>
{{formChampion.value | json}}
<p-card>
    <ng-template pTemplate="header"><br>
        Formulario Reactivo
    </ng-template>
<div class="p-fluid">
    <form [formGroup]="formChampion" (ngSubmit)="onSubmit()">
        <div class="p-field">
            <label for="id">ID</label>
            <input pInputText type="text" id="id" formControlName="id">
        </div>
        <div class="p-field">
            <label for="id">CODE</label>
            <input pInputText type="text" id="code" formControlName="code">
            <div
                *ngIf="codeField.invalid && (codeField.touched || codeField.dirty)">
                <small *ngIf="codeField.errors?.required" class="p-error">
                    El campo es requerido
                </small>
                <small *ngIf="codeField.errors?.maxlength" class="p-error">
                    Máximo 5 carácteres
                </small>
                <small *ngIf="codeField.errors?.minlength" class="p-error">
                    Mínimo 3 carácteres
                  </small>
            </div>
        </div>
        <div class="p-field">
            <label for="id">DATE</label>
            <input pInputText type="text" id="date" formControlName="date">
        </div>
        <div class="p-field">
            <label for="id">DESCRIPTION</label>
            <input pInputText type="text" id="description" formControlName="description">
        </div>
        <div class="p-field">
            <label for="id">APPROVED</label>
            <input pInputText type="text" id="approved" formControlName="approved">
        </div>
        <div class="p-field">
            <label for="id">TITLE</label>
            <input pInputText type="text" id="title" formControlName="title">
            <div
                *ngIf="codeField.invalid && (codeField.touched || codeField.dirty)">
                <small *ngIf="codeField.errors?.required" class="p-error">
                    El campo es requerido
                </small>
                <small *ngIf="codeField.errors?.maxlength" class="p-error">
                    Máximo 5 carácteres
                </small>
                <small *ngIf="codeField.errors?.minlength" class="p-error">
                    Mínimo 3 carácteres
                  </small>
            </div>
        </div>
        <div class="p-field">
            <button pButton type="submit" label="Guardar" icon="pi pi-save" (click)="onSubmit()"></button>
        </div>
    </form>
</div>
</p-card>
<br>
<h1>Champions</h1>
<table>
    <tr>
        <th>
            id
        </th>
        <th>
            title
        </th>
    </tr>
    <tr *ngFor="let champion of champions">
        <td>
            {{champion.id}}
        </td>
        <td>
            {{champion.title}}
        </td>
        <td>
            <button pButton type="button" label="Mostrar" (click)="selectChampion(champion)"></button>
            <button pButton type="button" label="Modificar" class="p-button-warning" (click)="updateChampion(champion)"></button>
            <button pButton type="button" label="Eliminar" class="p-button-danger" (click)="deleteChampion(champion)"></button>
        </td>
    </tr>
</table>